# URL de ton backend déployé
VITE_API_URL=https://nattybackend.vercel.app

# CAPTCHA frontend (optionnel)
VITE_RECAPTCHA_ENABLED=false
VITE_RECAPTCHA_SITE_KEY=

# Gemini (utilisé dans vite.config.ts)
GEMINI_API_KEY=
